extends components/layout

block content
  main.main-page.main-page--padding
    section.main-page__category.category
      h1.category__title Категории
      include components/category-add-form
      include components/category-list

block scripts
  script(src='js/main.js')
