.category__add-form
  form(action='#' method='POST')
    input#add-form-add-category(type='text' name='category' placeholder='Новая категория')
    label(for='add-form-add-category')
      span.visually-hidden Добавить категорию
    button.category__button.button.button--category(type='submit') Добавить
