- const categories = [`Жизнь и путешествия`, `Путешествия`, `Дизайн и программирование`, `Другое`, `Личное`];

ul.category__list
  each category, i in categories
    li.category__list-item
      form(action='#' method='POST')
        input#modify-form-category-1(type='text' name='category' value= category)
        label(for=`modify-form-category-${i}`)
          span.visually-hidden Редактировать категорию
        button.category__button.button.button--category(type='submit') Сохранить
        button.category__button.button.button--category(type='button') Удалить
