footer.footer
  a.footer__copyright(href='https://htmlacademy.ru' aria-label='HTMLAcademy' target='_blanc')
    img(src='img/icons/HTMLAcademyLogo.svg' width='112' height='50' alt='HTMLAcademy')
  span •
  p Типотека, 2019
